<!--Шаблон для удаления записи из таблицы-->
{% extends 'report/layout.html' %}

{% block title %}Удаление строки{% endblock %}

{% block content %}
    <div class="features">
    <h1>Форма по удалению строки из таблицы №2</h1>
   <form method="post" class="table_2_edit">
            {% csrf_token %}
            Учетный номер - {{ values.cam_id }}<br>
            Дата выхода из строя -  {{ values.damage }}<br>
            Причины не функционирования - {{ values.reason }}<br>
            Планируемая дата восстановления - {{ values.planned_recovery }}<br>
            Адрес места установки - {{ values.adress }}<br>

            {% if errors %}
                Форма была заполнена не верно:<br>
                {% for field, errorss in errors.items %}
                    <!--{{ field }}-->
                    <ul>
                    {% for error in errorss %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

            <button class="btn btn-danger" type="submit">Удалить строку</button>
            <a href="{% url 'table_2' %}"><button class="btn btn-success">Отмена</button></a>
        </form>
    </div>
{% endblock %}

{{ form.date }}