{% extends 'report/layout.html' %}

<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>Приложение № 2</h1>
   <table>
     <thead>
       <tr>
         <th>Идентификатор камеры</th>
         <th>Дата выхода из строя</th>
         <th>Причина не функционирования</th>
       </tr>
     </thead>
     <tbody>
        {% for row in table %}
         <tr>
             <td align="center">{{ row.damage }}</td>
             <td align="center">{{ row.reason }}</td>
             <td width="50" align="center">{{ row.planned_recovery }}</td>
         </tr>
       {% endfor %}
     </tbody>
   </table>
 </body>
</html>