<!--Шаблон вывода таблицы-->

{% extends 'report/layout.html' %}

{% block title %} Таблица №2{% endblock %}

{% block content %}
    <div class="features">
        <h1>Приложение № 2 Справка о причинах не функционирования камер видеонаблюдения АПК "Безопасный город в МО"	</h1>
        <form method="post">
            <b> Вывести вышедшие из строя: </b>
            {% csrf_token %}
            <b>с</b> <input type="date" name="from_date" value="{{from_date}}">
            <b>по</b> <input type="date" name="to_date"  value="{{to_date}}">
            <button class="btn btn-info" type="submit" >Фильтровать</button>
        </form>
        <table class="tables" cellspacing="2" border="1" cellpadding="5" bordercolor="#a42069" align="centre">
            <tr>
                <th width="70px"> </th>
                <th>Город/район</th>
    <!--            <th>Дата подачи данных</th>-->
                <th>Идентификатор камеры</th>
                <th>Дата выхода из строя</th>
                <th>Причина не функционирования</th>
                <th align=centre>Планируемая дата восстановления</th>
                <th align=centre>Дата восстановления</th>
                <th align=centre>Адрес места установки</th>
            </tr>
            <tbody>
                {% for row in table %}
                    <tr class={{ row.status }}>
                        <td>
                            <a href="{% url 'edit_2' row.id %}"><img alt="Изменить" src="/static/icons/edit.png"/></a>
                            <a href="{% url 'duplicate_2' row.id %}"><img alt="Дубликат" src="/static/icons/duplicate.png"/></a>
                            <a href="{% url 'delete_2' row.id %}"><img alt="Удалить" src="/static/icons/del.png"/></a>
                        </td>
                        <td align="center">{{ row.unit }}</td>
    <!--                    <td align="center">{{ row.date|date:"d.m.Y" }}</td>-->
                        <td align="center">{{ row.cam_id }}</td>
                        <td align="center">{{ row.damage|date:"d.m.Y" }}</td>
                        <td align="center">{{ row.reason }}</td>
                        <td align="center">{{ row.planned_recovery|date:"d.m.Y" }}</td>
                        <td align="center">{{ row.recovery|date:"d.m.Y" }}</td>
                        <td align="center">{{ row.adress }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_2' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</button></a>
        <a href="{% url 'csv_2' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Экспорт в CSV</button></a>
        <a href="{% url 'pdf_2' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Экспорт в PDF</button></a>
    </div>
{% endblock %}


