<!doctype html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'report/css/report.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <mytitle>
        <div class="logo">
            <img src="{% static 'report/img/bg.png' %}" alt="Лого" align="left">
        </div>
        <div class="auth">
            {% if user.is_authenticated %}
                <!--        <script>-->
                <!--            alert("Добро пожаловать. " + "{{ user.first_name }}" + " " + "{{ user.last_name }}" + " " + "Спасибо за авторизацию.");-->
                <!--        </script>-->
               Вы вошли как {{ user.first_name }} {{ user.last_name }} <a href="{% url 'logout' %}"><i class="far fa-question-circle"></i> Выход</a>
            {% else %}
                <a href="{% url 'login' %}"><i class="far fa-question-circle"></i> Вход</a>
            {% endif %}
        </div>
        <div class="title">
            <span>Мониторинг оперативной ситуации, в том числе мониторинга сегмента видеонаблюдения
                аппаратно-программного комплекса "Безопасный город"</span>
        </div>
    </mytitle>
    {% if user.is_authenticated %}
    <aside>
        <h3>Меню</h3>
        <ul style="padding:10px">
            <a href="{% url 'home' %}"><li><i class="fas fa-landmark"></i> Главная</li></a>
            <a href="{% url 'table_2' %}"><li><i class="fas fa-newspaper"></i> Таблица № 2</li></a>
            <a href="{% url 'table_3' %}"><li><i class="fas fa-newspaper"></i> Таблица № 3</li></a>
            <a href=""><li><i class="fas fa-chart-line"></i> Диаграммы и графики</li></a>
            <a href="{% url 'about' %}"><li><i class="far fa-question-circle"></i> Справка</li></a>
        </ul>
    </aside>
    {% endif %}
    <main>

    {% block content %}

    {% endblock %}
    </main>
</body>
</html>

