<!--Шаблон для удаления записи из таблицы-->
{% extends 'report/layout.html' %}

{% block title %}Удаление строки{% endblock %}

{% block content %}
    <div class="features">
    <h1>Форма по удалению строки из таблицы №3</h1>
   <form method="post" class="table_2_edit">
            {% csrf_token %}
            Дата отчета - {{ values.date }}<br>
            Учетный номер - {{ values.cam_id }}<br>
            Идентификатор типа происшествия - {{ values.incident_type }}<br>
            Описание происшествия - {{ values.description }}<br>
            Дата/время происшествия - {{ values.dt }}<br>
            Место происшествия - {{ values.place }}<br>
            Принятые меры - {{ values.action }}<br>
            Результат принятых мер - {{ values.action_result }}<br>

            {% if errors %}
                Форма была заполнена не верно:<br>
                {% for field, errorss in errors.items %}
                    <!--{{ field }}-->
                    <ul>
                    {% for error in errorss %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

            <button class="btn btn-danger" type="submit">Удалить строку</button>
            <a href="{% url 'table_3' %}"><button class="btn btn-success">Отмена</button></a>
        </form>
    </div>
{% endblock %}

{{ values.date }}