{% extends 'report/layout.html' %}

{% block title %}Ввод данных{% endblock %}

{% block content %}
    <div class="features">
    <h1>Форма по изменению данных таблицы №3 {{ title }}</h1>
   <form method="post" class="table_2_edit">
            {% csrf_token %}
            Дата отчета {{ form.date }}<br>
            Учетный номер {{ form.cam_id }}<br>
            Идентификатор типа происшествия    {{ form.incident_type }}<br>
            Описание происшествия {{ form.description }}<br>
            Дата/время происшествия {{ form.dt }}<br>
            Место происшествия {{ form.place }}<br>
            Принятые меры {{ form.action }}<br>
            Результат принятых мер {{ form.action_result }}<br>

            {% if errors %}
                Форма была заполнена не верно:<br>
                {% for field, errorss in errors.items %}
                    <!--{{ field }}-->
                    <ul>
                    {% for error in errorss %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

            <button class="btn btn-success" type="submit">Сохранить данные</button>
            <a href="{% url 'table_3' %}"><button class="btn btn-danger">Отмена</button></a>
        </form>
    </div>
{% endblock %}

{{ form.date }}
