{% extends 'report/layout.html' %}

<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>Приложение № 3</h1>
   <table>
     <thead>
       <tr>
         <th>Дата подачи данных</th>
         <th>Идентификатор камеры</th>
         <th>Идентификатор типа происшествия</th>
           <th>Описание происшествия</th>
         <th>Дата/время происшествия</th>
         <th>Место происшествия</th>
           <th>Принятые меры</th>
           <th>Результат принятых мер</th>
       </tr>
     </thead>
     <tbody>
        {% for row in table %}
         <tr>
             <td align="center">{{ row.date }}</td>
             <td align="center">{{ row.cam_id }}</td>
             <td width="50" align="center">{{ row.incident_type_id }}</td>
             <td align="center">{{ row.description }}</td>
             <td align="center">{{ row.dt }}</td>
             <td width="50" align="center">{{ row.place }}</td>
             <td align="center">{{ row.action }}</td>
             <td width="50" align="center">{{ row.action_result }}</td>
         </tr>
       {% endfor %}
     </tbody>
   </table>
 </body>
</html>