<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчет</title>
</head>
<body>
    <div class="report">
        Приложение<br>
        к приказу министерства гражданской<br>
        обороны и чрезвычайных ситуаций<br>
        Краснодарского края<br>
        от 05.09.2018  № 98
    </div>
    <h1 class="report">
        Сведения о состоянии и результатах видеонаблюдения АПК "Безопасный город"<br>
        на территории муниципальных образований  (по данным ЕДДС МО)<br>
         в период с {{ from_date }} по {{ to_date }}<br>
    </h1>
    <table id="report_3" class="report">
        <tr>
            <th rowspan="2">
                № <br>
                п/п
            </th>
            <th rowspan="2">
                Города и районы <br>
                Краснодарского края
            </th>
            <th colspan="2">
                Количество камер <br>
                видеонаблюдения АПК <br>
                "Безопасный город"
            </th>
            <th colspan="4">
                Количество происшествий, зафиксированных камерами<br>
                видеонаблюдения АПК "Безопасный город"
            </th>
        </tr>
        <tr>
            <th>Всего</th>
            <th>Работают</th>
            <th>
                нарушения<br>
                правил<br>
                дорожного<br>
                движения
            </th>
            <th>
                дорожно-<br>
                транспортные<br>
                происшествия
            </th>
            <th>
                нарушения<br>
                общественного<br>
                порядка
            </th>
            <th>ВСЕГО</th>
        </tr>
        <tbody>
            {% for row in table %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{row.unit}}</td>
                    <td>{{row.cam_count}}</td>
                    <td>{{row.work_cam}}</td>
                    <td>{{row.pdd}}</td>
                    <td>{{row.dtp}}</td>
                    <td>{{row.nop}}</td>
                    <td>{{row.all}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td><b>Итого</b></td>
                    <td>{{total.cam_count}}</td>
                    <td>{{total.work_cam}}</td>
                    <td>{{total.pdd}}</td>
                    <td>{{total.dtp}}</td>
                    <td>{{total.nop}}</td>
                    <td>{{total.all}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Профилактика, ремонт</td>
                    <td colspan="2">{{total.repair}}</td>
                    <td class="hide"></td>
                    <td class="hide"></td>
                    <td>За неделю</td>
                    <td>{{total.week}}</td>
                </tr>
                <tr>
                    <td class="hide"></td>
                    <td class="hide"></td>
                    <td class="hide" colspan="2"></td>
                    <td class="hide"></td>
                    <td class="hide"></td>
                    <td>С начала месяца</td>
                    <td>{{total.month}}</td>
                </tr>
                <tr>
                    <td class="hide"></td>
                    <td class="hide"></td>
                    <td class="hide" colspan="2"></td>
                    <td class="hide"></td>
                    <td class="hide"></td>
                    <td>С начала года</td>
                    <td>{{total.year}}</td>
                </tr>
        </tbody>
    </table>
</body>
</html>