<!--Шаблон вывода таблицы-->

{% extends 'report/layout.html' %}

{% block title %} Таблица №3{% endblock %}

{% block content %}
    <div class="features">
        <h1>Приложение № 3 Справка о количестве происшествий, зафиксированных камерами видеонаблюдения АПК "Безопасный город в МО"	</h1>
        <form method="post">
            <b> Вывести: </b>
            {% csrf_token %}
            <b>с</b> <input type="date" name="from_date" value="{{from_date}}">
            <b>по</b> <input type="date" name="to_date"  value="{{to_date}}">
            <button class="btn btn-info" type="submit" >Фильтровать</button>
        </form>
        <table class="tables" cellspacing="2" border="1" cellpadding="5" bordercolor="#a42069" align="centre">
            <tr>
                <th width="70px"> </th>
                <th>Город/район</th>
                <th>Идентификатор камеры</th>
                <th>Тип проишествия</th>
                <th>Описание происшествия</th>
                <th>Дата/время происшестви</th>
                <th>Место происшествия</th>
                <th align=centre>Принятые меры</th>
                <th align=centre>Результаты принятых мер</th>
            </tr>
            <tbody>
                {% for row in table %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_3' row.id %}"><img alt="Изменить" src="/static/icons/edit.png"/></a>
                            <a href="{% url 'duplicate_3' row.id %}"><img alt="Дубликат" src="/static/icons/duplicate.png"/></a>
                            <a href="{% url 'delete_3' row.id %}"><img alt="Удалить" src="/static/icons/del.png"/></a>
                        </td>
                        <td align="center">{{ row.unit }}</td>
                        <td align="center">{{ row.cam_id }}</td>
                        <td align="center">{{ row.incident_type }}</td>
                        <td align="center">{{ row.description }}</td>
                        <td align="center">{{ row.dt|date:"d.m.Y H:m" }}</td>
                        <td align="center">{{ row.place }}</td>
                        <td align="center">{{ row.action }}</td>
                        <td align="center">{{ row.action_result }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_3' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</button></a>
        <a href="{% url 'csv_3' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Экспорт в CSV</button></a>
        <a href="{% url 'pdf_3' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Экспорт в PDF</button></a>
        <p>
            <a href="{% url 'report_3' %}"><button class="btn btn-primary"><i class="fas fa-sun-o"></i>Сформировать приложение №3</button></a>
        </p>
    </div>
{% endblock %}