body {
    hyphens: auto;
    background-color: #e3ffff;
    background-image: url('../img/logo1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

mytitle {
    display: flow-root;
}
mytitle .logo img{
 padding: 2%;
}

mytitle .title {
    margin: 100px;
    text-align: center;
}

mytitle .title span {
    font-size: 22px;
    font-weight: bold;

}

aside {
    float: left;
    width: 20%;
    height: 100vh;
    color: #a42069;
    border-left: 10px solid #4d4d4d;
    padding: 0 3%;
}
aside h3 {
    margin-top: 10px;
    font-size: 25px;
}
aside ul {list-style: none}
aside ul li {
      color: #a42069;
      display: block;
      margin-top 10px;
      transation: all .6s ease;
}
aside ul li:hover, aside ul a:hover {
      color: #b5959;
      text-decoration: none;
      transform: scale(1.05);

}
form.table_2_edit {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

div.auth {
    text-align: right;
    margin-right: 100px;
}

tr.recovery {
    background: #9eff92;
}

table.tables {
    width: 77%;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
}